FRONTEND_PORT=8080
BACKEND_PORT=5678
WEBSOCKET_PORT=5679
VITE_API_BASE_URL=http://51.250.39.129:6678
VITE_WS_URL=ws://51.250.39.129:6679
VITE_BASE_PATH=/
ASTEROIDS_API_URL=http://51.250.39.129:4001
RESOURCES_API_URL=http://51.250.39.129:4002
CONCURRENT_REQUEST_LIMIT=5
STATUS_POLL_INTERVAL=5000
MINING_UPDATE_INTERVAL=60000
