.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 265px);
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 265px);
    }
}

@media (max-width: 920px) {
    .cards {
        grid-template-columns: repeat(2, 265px);
    }
}

@media (max-width: 615px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
