.footer {
    height: 40px;
    padding: 8px;
    border-top: 1px solid var(--g-color-line-generic);
    background-color: var(--g-color-base-background);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    font-size: 13px;
    text-decoration: none;
}

@media (max-width: 674px) {
    .nav {
        display: none;
    }

    .meta {
        width: 100%;
        justify-content: space-between;
    }
}
