.header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    border-bottom: 1px solid var(--g-color-line-generic, #e0e0e0);
    background-color: var(--g-color-base-background, #fff);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.logoLink {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 0 10px 24px;
    text-decoration: none;
}
