.app {
    flex: 1;
    max-width: 100%;
    padding: 0 24px;
}

.title {
    margin: 36px 0;
    font-family: var(--g-text-display-font-family);
    font-size: var(--g-text-display-1-font-size);
    line-height: var(--g-text-display-1-line-height);
    font-weight: 500;
}

.content {
    max-width: 1120px;
    margin: 0 auto var(--g-spacing-8) auto;
}

.status {
    margin: 0;
    font-size: var(--g-text-body-2-font-size);
    line-height: var(--g-text-body-2-line-height);
}

@media (max-width: 615px) {
    .app {
        padding: 16px;
    }

    .content {
        width: 100%;
    }
}
