*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--g-color-text-primary);
    background-color: var(--g-color-base-background);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    font-family: inherit;
}

body {
    font-family: var(--g-text-body-font-family);
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: var(--g-color-text-brand-contrast);
    background: var(--g-color-base-brand);
}
